apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  dependsOn:
    - name: kube-prometheus-stack
      namespace: monitor
  chart:
    spec:
      chart: ingress-nginx
      version: ${NGINX_VERSION} # Set by flux patch
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
  interval: 1m0s
  install:
    remediation:
      retries: 3
  values:
    controller:
      enableAnnotationValidations: true
      image:
        chroot: true
      podLabels:
        app: ingress-nginx
        grafana.radix.equinor.com/monitor-health: "true"
      publishService:
        enabled: true
      stats:
        enabled: true
      metrics:
        serviceMonitor:
          enabled: true
        enabled: true
      service:
        externalTrafficPolicy: Local
      ingressClassResource:
        name: nginx
        enabled: true
        default: true
        controllerValue: "k8s.io/ingress-nginx"
      ingressClassByName: true
      watchIngressWithoutClass: true
      config:
        worker-processes: "1"
        max-worker-connections: "5000"
        worker-shutdown-timeout: "3600s"
        annotations-risk-level: "High"
        strict-validate-path-type: "false"
        proxy-buffer-size: "32k" # See https://stackoverflow.com/a/40306737 for a great explanation
        proxy-busy-buffers-size: 32k # https://github.com/kubernetes/ingress-nginx/issues/13598
        proxy-body-size: "100m"
        proxy-buffering: "on"
        large-client-header-buffers: "4 32k"
        custom-http-errors: "503"
      extraArgs:
        default-backend-service: "$(POD_NAMESPACE)/radix-default-backend"
        default-ssl-certificate: "default/radix-wildcard-tls-cert"

      priorityClassName: radix-component-priority

    defaultBackend:
      enabled: false
