apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitor
spec:
  chart:
    spec:
      version: 47.6.1 # https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
  values:
    prometheus:
      prometheusSpec:
        retention: 60d # default
        resources:
          limits:
            cpu: "1"
            memory: "8Gi"
          requests:
            cpu: "0.5"
            memory: "4Gi"

