apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  postBuild:
    substitute:
      ALERT_WEB_CONSOLE_BASE_URL: "https://console.dev.radix.equinor.com"
