apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitor
spec:
  chart:
    spec:
      version: 6.57.0 # https://artifacthub.io/packages/helm/grafana/grafana
  values:
    env:
      GF_DATABASE_HOST: s941-radix-grafana-dev.mysql.database.azure.com
      GF_DATABASE_NAME: grafana
      GF_DATABASE_USER: grafana
