apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-blackbox-exporter
  namespace: monitor
spec:
  releaseName: prometheus-blackbox-exporter
  chart:
    spec:
      chart: prometheus-blackbox-exporter
      version: xx # Set by flux patch
      sourceRef:
        kind: HelmRepository
        name: prometheus-blackbox-exporter
        namespace: flux-system
  interval: 5m
  install:
    remediation:
      retries: 3
  values:
    resources:
      limits:
        memory: 300Mi
      requests:
        memory: 50Mi
    config:
      modules:
        http_2xx:
          prober: http
          timeout: 30s
          http:
            valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
            follow_redirects: true
            fail_if_not_ssl: true
            method: GET
