apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  releaseName: cert-manager
  chart:
    spec:
      chart: cert-manager
      version: xx # Set by flux patch
      sourceRef:
        kind: HelmRepository
        name: cert-manager
        namespace: flux-system
  interval: 5m
  install:
    remediation:
      retries: 3
  values:
    # resources: xx # Set by flux patch
    config: # https://cert-manager.io/docs/installation/configuring-components/#configuration-file
      apiVersion: controller.config.cert-manager.io/v1alpha1
      kind: ControllerConfiguration
      enableGatewayAPI: true
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/os
              operator: In
              values:
              - linux
            - key: kubernetes.io/arch
              operator: In
              values:
              - arm64
    installCRDs: true
    global:
      rbac:
        create: true
    image:
      repository: ${RADIX_CACHE_REGISTRY}/jetstack/cert-manager-controller
    podLabels:
      azure.workload.identity/use: "true"
      grafana.radix.equinor.com/monitor-health: "true"
    serviceAccount:
      labels:
        azure.workload.identity/use: "true"
    cainjector:
      podLabels:
        grafana.radix.equinor.com/monitor-health: "true"
      image:
        repository: ${RADIX_CACHE_REGISTRY}/jetstack/cert-manager-cainjector
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
              - key: kubernetes.io/arch
                operator: In
                values:
                - arm64
    webhook:
      podLabels:
        grafana.radix.equinor.com/monitor-health: "true"
      image:
        repository: ${RADIX_CACHE_REGISTRY}/jetstack/cert-manager-webhook
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
              - key: kubernetes.io/arch
                operator: In
                values:
                - arm64

    acmesolver:
      image:
        repository: ${RADIX_CACHE_REGISTRY}/jetstack/cert-manager-acmesolver

    startupapicheck:
      image:
        repository: ${RADIX_CACHE_REGISTRY}/jetstack/cert-manager-startupapicheck
