# For velero chart doc see https://github.com/vmware-tanzu/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: velero
spec:
  releaseName: velero
  chart:
    spec:
      chart: velero
      version: xx # Set by flux patch
      sourceRef:
        kind: HelmRepository
        name: velero
        namespace: flux-system
  interval: 5m
  install:
    remediation:
      retries: 3
  values:
    image:
      repository: ${RADIX_CACHE_REGISTRY}/velero/velero
      imagePullSecrets:
        - radix-external-registry-default-auth

    # TODO: Use recommended approach when https://github.com/vmware-tanzu/helm-charts/issues/698 is resolved
    kubectl:
      image:
        repository: public.ecr.aws/bitnami/kubectl

    updateStrategy: RollingUpdate
    initContainers:
      - name: velero-plugin-for-microsoft-azure
        image: ${RADIX_CACHE_REGISTRY}/velero/velero-plugin-for-microsoft-azure:${velero_plugin_azure} # Set in clusters/<cluster>/postBuild
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        volumeMounts:
          - name: plugins
            mountPath: /target
    credentials:
      useSecret: false
    serviceAccount:
      server:
        annotations:
          azure.workload.identity/client-id: ${velero_azure_workload_identity_id}
        create: true
        labels:
          azure.workload.identity/use: "true"
        name: velero
    podLabels:
      azure.workload.identity/use: "true"
      grafana.radix.equinor.com/monitor-health: "true"
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    # resources: xx # Set by flux patch
    priorityClassName: radix-component-priority
    upgradeJobResources:
      limits:
        memory: 256Mi
      requests:
        cpu: 50m
        memory: 256Mi
    containerSecurityContext:
      readOnlyRootFilesystem: true
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - amd64
  # valuesFrom:
  #   - kind: ConfigMap
  #     name: velero-flux-values
  #     valuesKey: values
