apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloud-credentials
  namespace: velero
spec:
  secretStoreRef:
    name: radix-keyvault
    kind: ClusterSecretStore
  refreshInterval: 5m
  target:
    template:
      metadata:
        annotations: {}
        labels: {}

      data:
        cloud: |
          {{ .cloudcredentials }}
  data:
    - secretKey: cloudcredentials
      remoteRef:
        key: radix-velero-cloud-credentials
