apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- flux-system
- ../../components/flux/image-update-automation
- ../../components/third-party/blob-csi-driver
- ../../components/third-party/blobfuse-flexvolume
- ../../components/third-party/cert-manager
#- ./overlay/third-party/dynatrace-operator/dynatrace-operator.yaml
- ../../components/third-party/external-dns
- ../../components/third-party/grafana
- ../../components/third-party/ingress-nginx_v2
- ../../components/third-party/kube-prometheus-stack
- ../../components/third-party/kubed
- ../../components/third-party/kured
- ../../components/third-party/snyk-monitor
- ../../components/third-party/sysctl-install-blobfuse
- ../../components/third-party/velero
- ./overlay/radix-platform/radix-acr-cleanup/radix-acr-cleanup.yaml
- ./overlay/radix-platform/radix-cicd-canary/radix-cicd-canary.yaml
- ./overlay/radix-platform/radix-cost-allocation/radix-cost-allocation.yaml
- ./overlay/radix-platform/radix-operator/radix-operator.yaml
- ./overlay/radix-platform/radix-vulnerability-scanner/radix-vulnerability-scanner.yaml
- ../../components/radix-platform/radix-velero-plugin
- ../../components/third-party/tekton
- ../../components/third-party/azure-workload-identity
patches:
  - path: ./postBuild.yaml
  # - path: ./healthChecks.yaml
  - path: ./overlay/radix-platform/radix-velero-plugin/postBuild.yaml
  - path: ./overlay/third-party/blob-csi-driver/helmRelease.yaml
  - path: ./overlay/third-party/cert-manager/patches.yaml
  - path: ./overlay/third-party/external-dns/helmRelease.yaml
  - path: ./overlay/third-party/grafana/helmRelease.yaml
  - path: ./overlay/third-party/ingress-nginx/patches.yaml
  - path: ./overlay/third-party/kube-prometheus-stack/helmRelease.yaml
  - path: ./overlay/third-party/kube-prometheus-stack/postBuild.yaml
  - path: ./overlay/third-party/kubed/helmRelease.yaml
  - path: ./overlay/third-party/kured/helmRelease.yaml
  - path: ./overlay/third-party/snyk-monitor/helmRelease.yaml
  - path: ./overlay/third-party/velero/patches.yaml
  - path: ./overlay/third-party/azure-workload-identity/helmRelease.yaml    
