apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- flux-system
- ../../components/flux/image-update-automation
- ../../components/flux/storageclasses
- ../../components/third-party/cert-manager
- ../../components/third-party/grafana
- ../../components/third-party/ingress-nginx
- ../../components/third-party/kube-prometheus-stack
- ../../components/third-party/prometheus-blackbox-exporter
- ../../components/third-party/external-secrets
- overlay/radix-platform/radix-prometheus-proxy/patches.yaml
patches:
  - path: ./postBuild.yaml
  - path: ./helm-controller.yaml
  - path: ./image-automation-controller.yaml
  - path: ./image-reflector-controller.yaml
  - path: ./kustomize-controller.yaml
  - path: ./notification-controller.yaml
  - path: ./source-controller.yaml
  - path: ./overlay/third-party/grafana/patches.yaml
  - path: ./overlay/third-party/cert-manager/patches.yaml
  - path: ./overlay/third-party/ingress-nginx/patches.yaml
  - path: ./overlay/third-party/kube-prometheus-stack/patches.yaml
  - path: ./overlay/third-party/prometheus-blackbox-exporter/helmRelease.yaml
  - path: ./overlay/third-party/external-secrets/patches.yaml
