apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-secrets
  namespace: monitor
spec:
  secretStoreRef:
    name: radix-keyvault
    kind: ClusterSecretStore
  refreshInterval: 5m
  target:
    name: grafana-secrets
    creationPolicy: Owner
  data:
  - secretKey: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
    remoteRef:
      key: radix-ar-grafana-oauth
