apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitor
spec:
  chart:
    spec:
      version: 46.8.0 # https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
  values:
    prometheus:
      prometheusSpec:
        resources:
          limits:
            cpu: "2"
            memory: "12Gi"
          requests:
            cpu: "1"
            memory: "6Gi"

