apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-blackbox-exporter
  namespace: default
spec:
  chart:
    spec:
      version: 7.6.1 # https://artifacthub.io/packages/helm/prometheus-community/prometheus-blackbox-exporter
