apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istiod
  namespace: istio-system
spec:
  releaseName: istiod
  chart:
    spec:
      chart: istiod
      version: xx # Set by flux patch
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  interval: 5m
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  # values:
  #   # resources: xx # Set by flux patch
  #   global:
  #     hub: ${RADIX_CACHE_REGISTRY}/istio
  #   pilot:
  #     image: ${RADIX_CACHE_REGISTRY}/istio/pilot
