apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  postBuild:
    substitute:
      ALERT_WEB_CONSOLE_BASE_URL: "https://console.radix.equinor.com"
  patches:
    - target:
        kind: HelmRelease
        name: kube-prometheus-stack
        namespace: monitor
      patch: |-
        apiVersion: helm.toolkit.fluxcd.io/v2
        kind: HelmRelease
        metadata:
          name: kube-prometheus-stack
          namespace: monitor
        spec:
          chart:
            spec:
              version: ${KUBE_PROMETHEUS_STACK}
          values:
            prometheusOperator:
              resources:
                limits:
                  cpu: 800m
                  memory: 512Mi
                requests:
                  cpu: 400m
                  memory: 256Mi
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: kubernetes.io/os
                        operator: In
                        values:
                        - linux
                      - key: kubernetes.io/arch
                        operator: In
                        values:
                        - arm64
              tolerations:
                - effect: NoSchedule
                  key: nodetasks
                  operator: Exists
            prometheus:
               prometheusSpec:
                affinity:
                  nodeAffinity:
                    requiredDuringSchedulingIgnoredDuringExecution:
                      nodeSelectorTerms:
                      - matchExpressions:
                        - key: kubernetes.io/os
                          operator: In
                          values:
                          - linux
                        - key: kubernetes.io/arch
                          operator: In
                          values:
                          - arm64
                        - key: agentpool
                          operator: In
                          values:
                          - monitorpool
                tolerations:
                - effect: NoSchedule
                  key: nodetasks
                  operator: Exists
                resources:
                  limits:
                    cpu: "16"
                    memory: 145Gi
                  requests:
                    cpu: "8"
                    memory: 128Gi
                storageSpec:
                  volumeClaimTemplate:
                    spec:
                      resources:
                        requests:
                          storage: 2048Gi # P40
                          #Premium SSD Size   P1    P2    P3    P4    P6    P10   P15   P20   P30   P40
                          #                   4     8     16    32    64    128   256   512   1024  2048
            alertmanager:
              alertmanagerSpec:
                resources:
                  limits:
                    cpu: 30m
                    memory: 256Mi
                  requests:
                    cpu: 5m
                    memory: 128Mi
            kube-state-metrics:
              prometheus:
                monitor:
                  scrapeTimeout: 20s
              resources:
                limits:
                  cpu: 128m
                  memory: 4Gi
                requests:
                  cpu: 64m
                  memory: 2Gi
