apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: radix-prometheus-proxy-chart
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: radix-prometheus-proxy-chart
  policy:
    semver:
      range: '>=0.0.0'
