# This is a hack, since image update automation cant scan HelmRepositories
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageRepository
metadata:
  name: radix-prometheus-proxy-chart
  namespace: flux-system
spec:
  image: ghcr.io/equinor/radix/charts/radix-prometheus-proxy
  interval: 1m0s
