name: Image Update Auto-PR
on:
  push:
    branches: ['flux-image-updates']

jobs:
  pull-request:
    name: Open PR to master
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Run script
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        PR_BRANCH: flux-image-updates
      run: .github/workflows/scripts/create_pr.sh
