name: radix-flux-pr
permissions:
  contents: read
on:
  pull_request:
    branches:
      - master
jobs:
  kustomize-build:
    name: kustomize-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Kustomize build everything
        run: |
          for f in `find . -iname "kustomization.yaml"`
          do 
            echo "Running kustomize build $(dirname $f)..."
            kustomize build $(dirname $f) >/dev/null || exit
          done
